header {
  width: 100%;
  height: 90px;
  background: #fff;
  border-bottom: #eee solid 1px;
  position: fixed;
  box-shadow: 0 1px 9px rgba(0,0,0,.2);
  opacity: 0.95;
  top: 0;
  z-index: 1;
}

.header-inner{
  text-align: center;
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
}

.logo-title {
  display: block;
  width: 250px;
  height: 30px;
  font-size: 40px;
  color: rgb(72, 72, 72);
  font-weight: bold;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 20px;
}

.search-form {
  left: 30px;
  top: 5px;
  position: absolute;
}

.search-form {
  text-align: center;
}

.search-form .search-input {
  width: 210px;
  height: 40px;
  font-size: 15px;
}

.search-form .search-btn {
  width: 80px;
  background-color: #EE5935;
  border: none;
  color: #fff;
  padding: 2px;
  height: 38px;
  border-radius: 3px;
  cursor: pointer;
}


.header-menu {
  position: absolute;
  right: 30px;
  top: 12px;
}

.lists-right {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 16px;
  line-height: 30px;
}

.mypage-icon {
  height: 22px;
  width: auto;
  float: left;
  margin-right: 3px;
}

.tent-icon {
  height: 25px;
  width: auto;
  float: left;
  margin-right: 4px;
}

.lists-right li{
  padding: 0 10px;
  margin-bottom: 10px;
  display: block;
}

.login-icon {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}

.login-icon:hover {
  color: #EE5935;
}

.user-nickname {
  text-decoration: none;
  color: rgb(72, 72, 72);
  padding-top: 5px;
}

.user-nickname:hover {
  color: #EE5935;
}

.lend-item {
  text-decoration: none;
  color: rgb(72, 72, 72);
}

.lend-item:hover {
  color: #EE5935;
}

#open {
  font-size: 32px;
  line-height: 27px;
  cursor: pointer;
  padding-left: 10px;
  color: rgb(72, 72, 72);
}

#open:hover {
  color: #EE5935;
}

.overlay {
  position: absolute;
  top: 60px;
  bottom: 0;
  right: 35px;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
  width: 140px;
  height: 200px;
  
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  text-decoration: none;
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay li:hover {
  color: #EE5935;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

#open-registration {
  cursor: pointer;
}

#open-session {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .user-nickname, .lend-item {
    display: none;
  }

  .search-form .search-input {
    width: 120px;
    height: 40px;
    font-size: 3px;
  }

  .search-form .search-btn {
    width: 36px;
    background-color: #EE5935;
    border: none;
    color: #fff;
  }
 }

 @media (max-width: 599px) {
  .logo-title {
    width: 250px;
    height: 40px;
    font-size: 23px;
    padding-top: 6px;
  }

  .search-form {
    left: 03px;
    top: 3px;
    position: absolute;
  }

  .search-form .search-input {
    width: 70px;
    height: 30px;
    font-size: 3px;
  }

  .search-form .search-btn {
    width: 30px;
    background-color: #EE5935;
    border: none;
    color: #fff;
    height: 30px;
    font-size: 13px;
  }

  .header-menu {
    right: 8px;
    top: 8px;
  }

  header {
    height: 70px;
  }

  .lists-right {
  }

  .lists-right li {
    padding: 0;
  }

  #open {
    padding: 0;
  }
 }