<div class="mypage-wrap">
  <div class="mypage-container">
    <%= render "shared/mypage_side" %>
    <div class='mypage-main' id="mypage-modal"> 
      <div class='form-header'>
        <h1 class='form-header-text'>
          出品一覧
        </h1>
      </div>
     <%= render "shared/pickup-list" %>
     <div class="pagination"><%= paginate @items %></div>
    </div>
  </div>
</div>