<footer>
  <div class="footer-content">
    <div><%= link_to 'Share Camp', root_path, class: "footer-title" %></div>
    <p class="footer-text">Copyright ©︎ 2020 Share Camp All rights reserved.</p>
  </div>
</footer>