<div class="mypage-side">
      <nav class="mypage-nav">
        <ul class="mypage-nav-list">
          <li>
            <a href=user_path(current_user.id), class="mypage-link">マイページ<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
            <a href=user_path(current_user.id), class="mypage-link">出品一覧<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
            <a href=user_path(current_user.id), class="mypage-link">取引履歴<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
            <a href=user_path(current_user.id), class="mypage-link">お気に入り<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
            <a href=user_path(current_user.id), class="mypage-link">メッセージ<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
          <%if current_user.card.present? %>
            <a href="/cards/current_user.id", class="mypage-link">クレジットカード<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          <% else %>
            <a href="/cards/new", class="mypage-link">クレジットカード<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          <% end %>
          </li>
          <li>
            <a href=user_path(current_user.id), class="mypage-link">お届け先住所<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
          <li>
            <a href="/users/edit", class="mypage-link">ログイン情報<span class="material-icons" id="mypage-icon">navigate_next</span></a>
          </li>
        </ul>
      </nav>
 </div>

 