body {
  background-color: #f5f5f5;
}

.main-item {
  max-width: 78%;
  padding: 0 25px 50px;
  display: flex;
  margin: 0 auto;
}

.main-left {
  width: 70%;
  min-height: 800px;
  margin-right: 20px;
}

.pickup h2 {
  font-size: 17px;
  font-weight: 700;
  padding: 33px 0 10px;
  border-bottom: solid 1px #444;
}

.main-right {
  width: 30%;
  min-height: 800px;
  margin-left: 20px;
}

.item-category h2 {
  font-size: 17px;
  font-weight: 700;
  padding: 33px 0 10px;
  border-bottom: solid 1px #444;
}

.pickup-list ul{
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
}

.list {
  width: 250px;
  margin: 20px 35px 50px 35px;
  background-color: #fff;
  height: 340px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.item-img {
  height: 250px; 
  width: 100%;
  object-fit: cover;
}

.item-name {
  padding-top: 5px;
  font-size: 20px;
  line-height: 1.6em;
  height: 40px;
  font-weight: 500;
  padding-left: 10px;
  color: rgb(58, 57, 57);
}

.item-price {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5em;
  padding-left: 10px;
  color: rgb(58, 57, 57);
}

.stay {
  font-size: 17px;
  font-weight: 100;
}

.item-category ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.category-list:first-child {
  margin-top: 20px;
}

.category-list:nth-child(2) {
  margin-top: 20px;
}

.category-list:nth-child(3) {
  margin-top: 20px;
}

.category-list {
  min-width: 50px;
  height: 32px;
  margin: 5px 5px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.category-link:hover {
  background-color: #EE5935;
  border-radius: 10px;
  color: #fff;
  transition: 0.1s;
  padding: 0 5px;
}

.category-link {
  font-size: 15px;
  font-weight: 500;
  color: rgb(72, 72, 72);
  line-height: 32px;
}

@media (max-width: 1024px) {
  .main-item {
    max-width: 78%;
    padding: 0;
    display: flex;
    margin: 0 auto;
  }

  .category-list:nth-child(3) {
    margin-top: 5px;
  }

  .list {
    width: 150px;
    height: 230px;
    margin: 20px 20px 50px 20px;
    background-color: #fff;
  }

  .item-img {
    height: 150px; 
    width: 100%;
    object-fit: cover;
  }

  .item-name {
    font-size: 18px;
    height: 40px;
  }
  
  .item-price {
    font-size: 20px;
  }
}

@media (max-width: 599px) {
  .main-right {
    display: none;
  }

  .main-left {
    width: 100%;
    min-height: 1000px;
    margin-right: 0;
  }
}