body {
  background-color: #f5f5f5;
}

.main-item {
  width: 1100px;
  padding: 0 25px 50px;
  display: flex;
  margin: 0 auto;
}

.main-left {
  width: 700px;
  height: 1500px;
  margin-right: 20px;
}

.pickup h2 {
  font-size: 17px;
  font-weight: 700;
  padding: 33px 0 10px;
  border-bottom: solid 1px #444;
}

.main-right {
  width: 300px;
  height: 1500px;
  margin-left: 20px;
}

.item-category h2 {
  font-size: 17px;
  font-weight: 700;
  padding: 33px 0 10px;
  border-bottom: solid 1px #444;
}

.pickup-list ul{
  display: flex;
  flex-wrap: wrap;
}

.list {
  width: 270px;
  margin: 20px 40px 50px 40px;
  background-color: #fff;
  /* box-shadow: 0 10px 10px rgba(75, 67, 50, 0.1); */
}

.item-img {
  /* width: 33vh; */
  height: 33vh; 
  width: 100%;
}

.item-name {
  padding-top: 5px;
  font-size: 20px;
  line-height: 1.6em;
  height: 40px;
  font-weight: 500;
  padding-left: 10px;
  color: rgb(58, 57, 57);
}

.item-price {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5em;
  padding-left: 10px;
  color: rgb(58, 57, 57);
}

.stay {
  font-size: 17px;
  font-weight: 100;
}

.item-category ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.category-list:first-child {
  margin-top: 20px;
}

.category-list:nth-child(2) {
  margin-top: 20px;
}

.category-list:nth-child(3) {
  margin-top: 20px;
}

.category-list {
  min-width: 50px;
  height: 32px;
  margin: 5px 5px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.category-link:hover {
  background-color: #EE5935;
  border-radius: 10px;
  color: #fff;
  transition: 0.1s;
  padding: 0 5px;
}

.category-link {
  font-size: 15px;
  font-weight: 500;
  color: rgb(72, 72, 72);
  line-height: 32px;
}

.search-item {
  width: 1100px;
  padding: 130px 25px 30px;
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}

.search-item h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 40px;
}