.search-item {
  width: 100%;
  padding: 130px 25px 30px;
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}

.search-item h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 40px;
}
.pickup-list ul{
  display: flex;
  flex-wrap: wrap;
}

.search-list {
  width: 250px;
  margin: 20px 20px 50px 40px;
  background-color: #fff;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

@media (max-width: 1024px) {
  .search-list {
    width: 150px;
    margin: 20px 10px 50px 10px;
    background-color: #fff;
  }
}

@media (max-width: 599px) {
  .search-list {
    width: 130px;
    margin: 20px 10px 20px 10px;
  }

  .search-item h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 20px;
  }
}
