.search-item {
  width: 100%;
  padding: 130px 25px 30px;
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}

.search-item h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 40px;
}
.pickup-list ul{
  display: flex;
  flex-wrap: wrap;
}

.search-list {
  max-width: 20%;
  margin: 20px 20px 50px 40px;
  background-color: #fff;
  height: auto;
}

.item-img {
  height: 33vh; 
  width: 100%;
}

.item-name {
  padding-top: 5px;
  font-size: 20px;
  line-height: 1.6em;
  height: 40px;
  font-weight: 500;
  padding-left: 10px;
  color: rgb(58, 57, 57);
}

.item-price {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5em;
  padding-left: 10px;
  color: rgb(58, 57, 57);
}

@media (max-width: 1024px) {
  .search-list {
    width: 150px;
    margin: 20px 10px 50px 20px;
    background-color: #fff;
  }
}