<%= render "shared/header" %>

<div class="main-visual">
  <div class="main-image"></div>
</div>

<div class="main-item">
  <div class="main-left">
    <div class="pickup">
      <h2>注目のアイテム</h2>
    </div>
    <div class="pickup-list">
      <ul>
        <li class="list">
          <div class="item-img-content">
          </div>
          <div class="item-info">
          </div>
        </li>
        <li class="list">
          <div class="item-img-content">
          </div>
          <div class="item-info">
          </div>
        </li>
        <li class="list">
          <div class="item-img-content">
          </div>
          <div class="item-info">
          </div>
        </li>
        <li class="list">
          <div class="item-img-content">
          </div>
          <div class="item-info">
          </div>
        </li>
        <li class="list">
          <div class="item-img-content">
          </div>
          <div class="item-info">
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-right">
    <div class="item-category">
      <h2>キャンプ用品一覧</h2>
      <ul>
       <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
      </ul>
    </div>
    <div class="item-category">
      <h2>おすすめのタグ</h2>
      <ul>
       <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
        <li class="category-list">
          <div class="category-img">
          </div>
          <div class="category-name">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<footer></footer>