.mypage-wrap {
  width: 100%;
  display: flex;
  background-color: #f5f5f5;
  margin-bottom: 60px;
  min-height: 85vh;
}


.mypage-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 150px;
}

.mypage-side {
  width: 25%;
  float: left;
}

.mypage-item-list {
  font-size: 20px;
  font-weight: bold;
  padding-left: 30px;

}

.mypage-nav-list li {
  position: relative;
  display: block;
  min-height: 48px;
  padding: 16px;
  background: #fff;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e1e1;
}

.mypage-link {
  display: block; 
  position: absolute;
  width: 95%;
  text-decoration: none;
  top: 13px;
  color: #333;
  font-weight: 500;
}

#mypage-icon {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 30px;
  color: #333;
}

.mypage-main {
  width: 70%;
  background-color: white;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  float: right;
  min-height: 650px;
  z-index: 2;
  margin: 0 auto;
}

.credit-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}

.update-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-red-btn {
  width: 100%;
  background: #EE5935;
  border: 1px solid #EE5935;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.input-expiration-date-wrap {
  display: flex;
}

.exp {
  width: 20%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.month {
  padding: 20px 5px 0 5px;
}

.year {
  padding: 15px 5px 0 5px;
}

.card-group {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 70px;
}

.credit-number {
  font-size: 18px;
}

#address-prefecture {
  border: 1px solid #ccc;
  color: #757575;
}

.address-value {
  font-size: 20px;
  padding-top: 10px;
}

.address-group {
  width: 55%;
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  flex-direction: column;
}

.address-edit-btn {
  margin: 0 auto;
  margin-top: 70px;
}

.address-red-btn {
  width: 100%;
  background: #EE5935;
  border: 1px solid #EE5935;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  padding: 20px 60px;
  margin: 0 auto;
}

.another-page-main {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  min-height: 650px;
  z-index: 2;
  margin: 0 auto;
}

.mypage-dm {
  margin: 30px auto;
}

.dm-btn {
  background: #EE5935;
  border: 1px solid #EE5935;
  color: #fff;
  line-height: 48px;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 40px;
}

.my-information-group {
  width: 55%;
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  flex-direction: column;
}

.my-information-value {
  font-size: 20px;
  padding-top: 10px;
}

@media (max-width: 1024px) {
  .mypage-nav-list li {
    font-size: 12px;
  }

  .mypage-container {
    width: 80%;
  }

  .card-group {
    padding-left: 30px;
  }

  .another-page-main {
    width: 80%;
  }
}

@media (max-width: 599px) {
  .mypage-side {
    width: 100%;
    float: none;
    margin-bottom: 10%;
  }

  .mypage-nav-list li {
    font-size: 20px;
  }

  .mypage-main {
    width: 100%;
  }

  .another-page-main {
    width: 100%;
  }
}